{% extends "base.html" %}

{% block content %}
<div style="font-size: 18px;">
    <p>SNS</p>
    <div>
        <iframe src="https://seomj74.tistory.com" width="500px" height="300px"></iframe>
        <a href="https://seomj74.tistory.com">TISTORY</a>
    </div>
    <div>
        <iframe src="https://www.instagram.com/seomj74/" width="500px" height="300px"></iframe>
        <a href="https://www.instagram.com/seomj74/">INSTAGRAM</a>
    </div>
    <div>
        <iframe src="https://m.blog.naver.com/smj100394?suggestAddBuddy=true" width="500px" height="300px"></iframe>
        <a href="https://m.blog.naver.com/smj100394?suggestAddBuddy=true">NAVER Blog</a>
    </div>
</div>
{% endblock content %}